*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --width-flex-item: 25%;
    --padding-flex-item: 35px;
    --height-flex-item: 75%;
}
body{
    background-color: hsl(0, 0%, 95%);
}
.flex-container{
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 80%;
    margin: auto;
    align-items: center;
    flex-wrap: nowrap;
}
.flex-item{
    width: var(--width-flex-item);
    height: var(--height-flex-item);
    padding: var(--padding-flex-item);

}
.item-1{
    background-color:  hsl(31, 77%, 52%);
    position: relative;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}
.item-2{
    background-color: hsl(184, 100%, 22%);
    position: relative;

}
.item-3{
    background-color: hsl(179, 100%, 13%);
    position: relative;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
@font-face {
    font-family: LexendDeca;
    src: url(./Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}
@font-face {
    font-family: BigShouldersDisplay;
    src: url(./Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf);
}
img{
    box-sizing: border-box;
    margin: auto;
    padding: 10px 10px 10px 0;
}

h2{
    padding-bottom: 10px;
    color: hsl(0, 0%, 95%);
    font-family: BigShouldersDisplay;
    font-weight: 700px;
    letter-spacing: 2.5px;

}
p{
    padding: 10px 10px 10px 0;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: LexendDeca;
    word-spacing: 2px;
    line-height: 25px;
    font-weight: 400;
}

button{
    width: 100px;
    padding: 10px;
    position: absolute;
    left: 35px;
    bottom: 45px;
    background-color:  hsl(0, 0%, 95%);
    border:  hsl(0, 0%, 95%);
    border-radius: 20px;
    cursor: pointer;
    font-family: LexendDeca;

}
@media screen and (max-width:375px){
    .flex-container{
        flex-direction: column;

    }
    .flex-item{
        width: 100%;
    }
}
footer{
    color: hsla(100, 100%, 100%, 0);
    font-size: 15px;
    font-family: LexendDeca;
    font-weight: 400;
    margin: 30px;

}